.DS_Store

.packages
.pub/

ios/.generated/
ios/Pods/
ios/Podfile.lock
build/

.flutter-plugins
packages
pubspec.lock

.history

token.dart
review_code.dart
graphql_offline.dart


docker-compose.yml.1